**/*.passwd filter=git-crypt diff=git-crypt
**/*.key filter=git-crypt diff=git-crypt

/roles/docker/vars/main.yml filter=git-crypt diff=git-crypt
/roles/docker_*/templates/* filter=git-crypt diff=git-crypt
/roles/docker_*/vars/main.yml filter=git-crypt diff=git-crypt
/roles/docker_pihole/files/pihole filter=git-crypt diff=git-crypt
/roles/docker_pihole/files/pihole.pub filter=git-crypt diff=git-crypt
/roles/docker_pihole/files/ssh_config filter=git-crypt diff=git-crypt
/roles/homeassistant_support/templates/* filter=git-crypt diff=git-crypt
/roles/host_specific/tasks/gw.yml filter=git-crypt diff=git-crypt
/roles/host_specific/templates/gw/pf.gw.conf.j2 filter=git-crypt diff=git-crypt
/roles/host_specific/vars/main.yml filter=git-crypt diff=git-crypt

.gitattributes !filter !diff
