# {{ ansible_managed }}

nooption domain_name_servers
nooption domain_name

ipv6only
noipv6rs
duid
persistent

option rapid_commit
option interface_mtu
require dhcp_server_identifier

slaac private

script ""

vendorclassid

allowinterfaces {{ dhcpcd_config["allowinterfaces"] }}

{% for iface in dhcpcd_config["interfaces"] %}
interface {{ iface }}
{% for rule in dhcpcd_config["interfaces"][iface] %}
	{{ rule }}
{% endfor %}
{% endfor %}
