#!/usr/local/bin/python3

import re
import subprocess

from urllib.request import urlopen

BYTES_LINE_RE = re.compile(r"^\s*Bytes (In|Out)\s+(\d+)\s+(\d+)$")

proc = subprocess.run(["/sbin/pfctl", "-s", "info"], capture_output=True, check=True)

bytes_in = 0
bytes_out = 0

for line in proc.stdout.decode().split("\n"):
    match = BYTES_LINE_RE.match(line)
    if match is None:
        continue

    total = int(match.group(2)) + int(match.group(3))
    if match.group(1) == "In":
        bytes_in = total
    else:
        bytes_out = total

result = f"download={bytes_in}&upload={bytes_out}"

urlopen(
    'http://{{ homeassistant_vars["ip"] }}/api/webhook/{{ homeassistant_vars["webhooks"]["data_usage"] }}',
    data=result.encode(),
)
