# {{ ansible_managed }}

[Unit]
Description=pihole whitelist sync
Requires=docker-compose@pihole
After=docker-compose@pihole

[Service]
Type=oneshot
ExecStart=/var/local/pihole-whitelist/scripts/whitelist.py --docker --dir /usr/local/etc/pihole/etc
