# {{ ansible_managed }}

[Unit]
Description=pihole cloud sync
Requires=docker-compose@pihole
After=docker-compose@pihole

[Service]
Type=oneshot
Environment=HOME={{ ansible_local.root_owner.home }}
ExecStart=/usr/local/bin/pihole-cloudsync --push
