# {{ ansible_managed }}

[Unit]
Description=duplicity backup timer
Wants=network-online.target
{% if roles["storage"] %}
RequiresMountsFor=/mnt/storage
{% endif %}

[Timer]
OnCalendar=*-*-* *:00:00
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
