# {{ ansible_managed }}

[Unit]
Description=duplicity backup
Requires=mnt-storage.mount
After=mnt-storage.mount

[Service]
Type=oneshot
Environment=HOME=/home/{{ user }}
ExecStart=/usr/bin/duplicity --full-if-older-than 1W --encrypt-key 75E259BA34917C792560A53AE9F9F8EA7E062F78 {% for dir in backup_dirs %}--include {{ dir }} {% endfor %} --exclude '**' / onedrive://Backups/{{ ansible_facts["hostname"] }}
