---
# {{ ansible_managed }}
# vim: set filetype=yaml expandtab sts=2 sw=2 nospell:

version: '3'

services:
  homeassistant:
    image: "ghcr.io/home-assistant/home-assistant:stable"
    container_name: homeassistant
    volumes:
      - '{{ storage_mnt_base }}/homeassistant/config:/config'
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    devices:
      - '/dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2488058-if00:/dev/ttyACM0'
    labels:
      - com.centurylinklabs.watchtower.enable=true
