---
# {{ ansible_managed }}
# vim: set filetype=yaml ts=2 sts=2 sw=2 expandtab autoindent:

version: '3.8'

networks:
  jellyfin:

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin
    container_name: jellyfin
    environment:
      PUID: 1000
      PGID: 1000
      TZ: {{ timezone }}
      JELLYFIN_PublishedServerUrl: {{ jellyfin_ip }}
    volumes:
      - '{{ storage_mnt_base }}/jellyfin/config:/config'
      - '{{ storage_mnt_base }}/jellyfin/media:/data'
    network_mode: host
    devices:
      - /dev/dri/card0:/dev/dri
    labels:
      - com.centurylinklabs.watchtower.enable=true
  metube:
    image: alexta69/metube
    container_name: metube
    networks:
      - jellyfin
    user: '1000:1000'
    environment:
      OUTPUT_TEMPLATE: '%(title)s [%(id)s].%(ext)s'
      YTDL_OPTIONS: '{"writeinfojson": true}'
    ports:
      - '8081:8081'
    volumes:
      - '/mnt/storage/metube:/downloads'
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=true
