---
# {{ ansible_managed }}
# vim: set filetype=yaml ts=2 sts=2 sw=2 expandtab autoindent:

version: "3"

services:
  joplin:
    image: joplin/server:latest
    container_name: joplin
    environment:
      APP_PORT: '22300'
      APP_BASE_URL: {{ joplin_base_url }}
      DB_CLIENT: pg
      POSTGRES_USER: joplin
      POSTGRES_PASSWORD: {{ joplin_pg_passwd }}
      POSTGRES_DATABASE: joplin
      POSTGRES_HOST: db.intern.jgoguen.ca
    ports:
      - '22300:22300'
