---
# {{ ansible_managed }}
# vim: set filetype=yaml expandtab sts=2 sw=2 nospell:

version: "3"

networks:
  massivedecks:

services:
  mdserver:
    container_name: mdserver
    # Make sure you always deploy the same tag for client and server.
    image: "massivedecks/server:latest"
    environment:
      NODE_ENV: production
    networks:
      massivedecks:
        aliases:
          - server
    volumes:
      - '{{ storage_mnt_base }}/massive-decks/config.json5:/md/config.json5:ro'
    restart: unless-stopped

  mdclient:
    container_name: mdclient
    image: "massivedecks/client:latest"
    depends_on:
      - mdserver
    ports:
      - "9989:8080"
    networks:
      - massivedecks
    restart: unless-stopped
