---
# {{ ansible_managed }}
# vim: set filetype=yaml expandtab sts=2 sw=2 nospell:

version: "3"

services:
  pihole:
    container_name: pihole
    build:
      context: ./unbound
    cap_add:
      - NET_ADMIN
    network_mode: host
    dns:
      - 127.0.0.1
    hostname: pi.hole
    environment:
      TZ: 'America/Los_Angeles'
      WEBPASSWORD: '{{ pihole_passwd }}'
      DNS1: '127.0.0.1#5353'
    volumes:
      - '/usr/local/etc/pihole/etc:/etc/pihole/'
      - '/usr/local/etc/pihole/dnsmasq.d:/etc/dnsmasq.d'
      - '/usr/local/etc/pihole/unbound:/etc/unbound/unbound.conf.d'
    restart: unless-stopped
    labels:
      - com.centurylinklabs.watchtower.enable=false
      - com.centurylinklabs.watchtower.monitor-only=true
