---
# {{ ansible_managed }}
# vim: set filetype=yaml ts=2 sts=2 sw=2 expandtab autoindent:

version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: 'America/Los_Angeles'
      WEBPASSWORD: '7KoBt2*R2v-G9F7NVLLgTK-TUi9kVDgn.Er'
    volumes:
      - '/usr/local/etc/pihole/etc:/etc/pihole/'
      - '/usr/local/etc/pihole/dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
