---
# {{ ansible_managed }}
# vim: set filetype=yaml expandtab sts=2 sw=2 nospell:

version: '3'

networks:
  postgres:

services:
  db:
    image: postgres:14
    container_name: pgsql
    networks:
      - postgres
    environment:
      POSTGRES_PASSWORD: '{{ postgresql_passwd }}'
      POSTGRES_HOST_AUTH_METHOD: 'scram-sha-256'
      POSTGRES_INITDB_ARGS: '--auth-host=scram-sha-256'
    shm_size: '1g'
    volumes:
      - '{{ storage_mnt_base }}/postgresql:/var/lib/postgresql/data'
    ports:
      - '5432:5432'
