---
# {{ ansible_managed }}
# vim: set filetype=yaml ts=2 sts=2 sw=2 expandtab autoindent:

version: '3'

networks:
  smokeping:

services:
  smokeping:
    image: lscr.io/linuxserver/smokeping
    container_name: smokeping
    hostname: smokeping
    networks:
      - smokeping
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Los_Angeles
    volumes:
      - '{{ storage_mnt_base }}/smokeping/config:/config'
      - '{{ storage_mnt_base }}/smokeping/data:/data'
    ports:
      - '80:80'
    restart: unless-stopped
