#!/bin/sh
# {{ ansible_managed }}

set -eu

hostname=$1
TOKEN="{{ dynv6_token }}"
STATE_DIR="${STATE_DIRECTORY:-/etc/dynv6}"

v4file="${STATE_DIR}/${hostname}.v4"
v6file="${STATE_DIR}/${hostname}.v6"

if [ -z "${hostname}" ] || [ -z "${TOKEN:-""}" ]; then
	printf 'Usage: TOKEN=<token> %s hostname\n' "$0"
	exit 1
fi

if [ ! -d "${STATE_DIR}" ]; then
  /bin/mkdir -p "${STATE_DIR}"
fi

CURL_BIN="$(command -v curl)"
if [ -z "${CURL_BIN}" ]; then
	printf "curl not found"
	exit 1
fi
CURL_BIN="${CURL_BIN} -fsS"

[ -f "${v4file}" ] && v4old=$(cat "${v4file}")
[ -f "${v6file}" ] && v6old=$(cat "${v6file}")

v4address=$(${CURL_BIN} https://ipv4.icanhazip.com)
v6address=$(${CURL_BIN} https://ipv6.icanhazip.com)
DO_UPDATE=0


# Send IPv4
if [ -n "${v4address}" ] && [ "${v4old:-""}" != "${v4address}" ]; then
	DO_UPDATE=1
fi

# Send IPv6
if [ -n "${v6address}" ] && [ "${v6old:-""}" != "${v6address}" ]; then
	DO_UPDATE=1
fi

if [ "${DO_UPDATE}" = 1 ]; then
	${CURL_BIN} "https://dynv6.com/api/update?zone=${hostname}&token=${TOKEN}&ipv4=${v4address}&ipv6=${v6address}/64"
	printf "%s" "${v4address}" >"${v4file}"
	printf "%s" "${v6address}" >"${v6file}"
fi

exit 0
