# {{ ansible_managed }}

interval 10
log state changes
prefork 10
timeout 750

{% for table in relayd_tables %}
table <{{ table }}> { {{ relayd_tables[table] | join(" ") }} }
{% endfor %}

{% for proto in relayd_protocols %}
{{ relayd_protocols[proto]["type"] }} protocol "{{ proto }}" {
{% for rule in relayd_protocols[proto]["rules"] %}
	{{ rule }}
{% endfor %}
}
{% endfor %}

{% for relay in relayd_relays %}
relay "{{ relay }}" {
{% for rule in relayd_relays[relay] %}
	{{ rule }}
{% endfor %}
}
{% endfor %}
