# {{ ansible_managed }}

ListenAddress 0.0.0.0
ListenAddress ::
Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_ecdsa_key
{% if ssh_host_cert_present %}HostCertificate /etc/ssh/ssh_host_ed25519_key-cert.pub{% endif %}

LoginGraceTime 30s
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication no
PrintMotd no
TrustedUserCAKeys /etc/ssh/user_ca.pub

{% if ansible_facts["system"] != "OpenBSD" %}UsePAM yes{% endif %}

AllowAgentForwarding yes
AllowTcpForwarding yes
AllowStreamLocalForwarding yes
GatewayPorts yes

Subsystem sftp /usr/libexec/sftp-server
