# {{ ansible_managed }}

nooption domain_name_servers
nooption domain_name
nooption domain_search
nooption host_name

ipv6only
noipv6rs
duid
persistent

option rapid_commit
option interface_mtu
require dhcp_server_identifier

# slaac private

script /usr/bin/true

vendorclassid

allowinterfaces {{ allowinterfaces }}

{% for iface in dhcpcd_interfaces %}
interface {{ iface }}
{% for rule in dhcpcd_interfaces[iface] %}
	{{ rule }}
{% endfor %}
{% endfor %}
