# {{ ansible_managed }}

authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

{% for hostname in certbot_hosts %}
domain {{ hostname }} {
	domain key "/etc/ssl/private/{{ hostname }}.key"
	domain full chain certificate "/etc/ssl/{{ hostname }}.pem"
	domain certificate "/etc/ssl/{{ hostname }}-cert.crt"
	domain chain certificate "/etc/ssl/{{ hostname }}-chain.pem"
	sign with letsencrypt
}
{% endfor %}
