# {{ ansible_managed }}

{% for section in networkmanager_config %}
[{{ section }}]
{% for key in networkmanager_config[section] %}
{{ key }}={{ networkmanager_config[section][key]}}
{% endfor %}

{# This blank line is needed here to force a newline in the output #}
{% endfor %}
